# .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
*.DotSettings
packages/
*.nupkg
*.nuget.props
*.nuget.targets

# Build
[Bb]uild/
[Dd]eploy/
[Dd]ocs/_site/

# Tooling
**/tools/**/
[Dd]ependencies/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.sln.DotSettings.user
*.suo
*.user
