# Flutter
build/
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.metadata
*.lock

# Dart
*.log
*.pid

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*.swo

# FVM
.fvm/
version.json
